apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  labels:
    app.kubernetes.io/name: web
    app.kubernetes.io/component: web
    app.kubernetes.io/part-of: foxtown
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: web
      app.kubernetes.io/component: web
  template:
    metadata:
      labels:
        app.kubernetes.io/name: web
        app.kubernetes.io/component: web
        app.kubernetes.io/part-of: foxtown
    spec:
      containers:
        - name: wordpress
          image: ghcr.io/cea-informatics/wordpress:1.4.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              value: database
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_NAME
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_USER
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_PASSWORD
          volumeMounts:
            - name: uploads
              mountPath: /var/www/html/wp-content/uploads
          resources:
            requests:
              cpu: 25m
              memory: 250Mi
            limits:
              memory: 250Mi
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 15
            timeoutSeconds: 5
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: web-uploads-pvc
