apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  labels:
    app.kubernetes.io/name: database
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: foxtown
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: database
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: database
            app.kubernetes.io/component: database
        app.kubernetes.io/part-of: foxtown
    spec:
      containers:
        - name: mariadb
          image: mariadb:11
          ports:
            - containerPort: 3306
              name: mariadb
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_NAME
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_USER
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: DB_PASSWORD
            - name: MYSQL_RANDOM_ROOT_PASSWORD
              value: "1"
          volumeMounts:
            - name: database-storage
              mountPath: /var/lib/mysql
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: database-storage
          persistentVolumeClaim:
            claimName: database-pvc
